.emal_list{
    display: flex;
    overflow: scroll;
}
.emailList_setting{
    display: flex;
    position:sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emailList_sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
}
